.productoshomecontainer{
    padding: 40px;
    width: 100%;
}
.productosHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
    
}

.ph1cont{
width: 40%;
}
.ph1{
    margin: 10px;

    height: 100%;
    color: white;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ph2{
    margin: 10px;
    height: 100%;
    color: white;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ph1 img,.ph2 img{ 
    width: 100%;
    transition: all 1s;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);}


.productosHome2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.ph3, .ph4,.ph5 {
    margin: 10px;
    width: 30%;
    height: 400px;
    overflow:hidden;
   }
.ph3 img,.ph4 img,.ph5 img{ 
    width: 100%;
    transition: all 1s;
    }


.ph1:hover img,.ph2:hover img,.ph3:hover img,.ph4:hover img,.ph5:hover img {
    transform: scale(1.04);
    
}

.ph1 h1, .ph2 h1 {
    position: absolute;
    z-index: 1;

}
